.App-sidebar {
  padding: var(--content-padding);
  background-color: var(--content-background);
  border-radius: var(--content-border-rad);
  position: sticky;
  top: 1em;
  height: calc(100vh - 4em);
  width: var(--sidebar-width);
  overflow-y: scroll;
}

.App-sidebar h3 {
  line-height: 0.7em;
  font-family: "PT Serif", serif;
}

.sidebar-title-icon {
  margin-right: 5px;
  color: var(--lighter-grey);
}
