.annotation {
  float: right;
  margin-top: 10px;
  font-style: italic;
  font-size: var(--smaller-font);
  padding: 6px;
  background-color: var(--background);
  border-radius: 4px;
  margin-bottom: 10px;
}

.annotation p {
  margin: 0;
}
