.App-header {
  padding: var(--content-padding);
  background-color: var(--content-background);
  border-radius: var(--content-border-rad);
  margin-top: 1em;
}

.App-header h2 {
  line-height: 1em;
}
