:root {
  --text-color: black;
  --text-heighlight: dodgerblue;
  --text-accent: coral;
  --background: whitesmoke;
  --content-background: white;

  --content-width: 52em;
  --content-padding: 0.5em 2em;
  --content-border-rad: 1em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background);
  margin: auto;
  width: var(--content-width);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
